*{
    padding:0px;
    margin:0px;
}
.navbar{  
    padding: 10px;
    margin: 0;
    overflow:hidden;
    background-color:#8ca844;
    position: fixed;
    min-height: fit-content;
    width: 100%;
    border-bottom: 5px solid rgb(247, 217, 172);
    
}

#link1{
    display: block;
    float: right;
    margin-top: 5px;

}
#link1 a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    color: rgb(252, 212, 153);
    text-align: center; 
    background-image: url(pics/bgstill9.png);
    background-size: cover;
}
#link1 a:hover {
    background-image: url(pics/bgif9.gif);
  }
#link1:hover{
  transition-duration: 500ms;   
    transform: scale(1.5);
  }


  #link2{
    display: block;
    float: right;
    margin-top: 5px;

}
#link2 a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    color: rgb(252, 212, 153);
    text-align: center; 
    background-image: url(pics/bgstill8.png);
    background-size: cover;
}
#link2 a:hover {
    background-image: url(pics/bgif8.gif);
  }
#link2:hover{
  transition-duration: 500ms;   
    transform: scale(1.5);
  }


  #link3{
    display: block;
    float: right;
    margin-top: 5px;
}
#link3 a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    color: rgb(252, 212, 153);
    text-align: center; 
    background-image: url(pics/bgstill3.png);
  background-size: cover;
}
#link3 a:hover {
    
    background-image: url(pics/bgif3.gif);
  }
#link3:hover{
  transition-duration: 500ms; 
    transform: scale(1.5);
  }

  #link4{
    display: block;
    float: right;
    margin-top: 5px;
}
#link4 a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    color: rgb(252, 212, 153);
    text-align: center; 
    background-image: url(pics/bgstill5.png);
    background-size: cover;
}
#link4 a:hover {
    background-image: url(pics/bgif5.gif);
  }
#link4:hover{
  transition-duration: 500ms;   
    transform: scale(1.5);
  }


#link5{
    display: block;
    float: right;
    margin-top: 5px;    
}
#link5 a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    color: rgb(252, 212, 153);
    text-align: center; 
    background-image: url(pics/bgstill7.png);
    background-size: cover;
}
#link5 a:hover {
    background-image: url(pics/bgif7.gif);
  
}
#link5:hover{
  transition-duration: 500ms;   
    transform: scale(1.5);
  }

.body{
    border-top: 5px solid rgb(247, 217, 172);
    background-image: url(pics/backgroundidk.jpeg);    
    background-size: cover;
    min-height: 93vh;
    height: inherit;
    border-bottom: 5px solid rgb(247, 217, 172);
    
    
}
#textindex{
  text-align: center;
  color: black;
  padding: 5%;
  
  }
  
.highlight{
    display: inline-block;
    padding: 15px 20px;
    background-image: url(pics/bgstill4.png);
    background-size: cover;
    text-decoration: none;
    margin-top: 20px;
   text-align: center;
   color: rgb(252, 212, 153);
   border: 2px solid black;

}

.highlight:hover{
    background-image: url(pics/bgif4.gif);  
    transition-duration: 500ms;   
    transform: scale(1.5);   


}

.footer {
   
    background-color:#8ca844;
    color: rgb(252, 212, 153);
   min-height: 40px;
    
    padding-top: 5px;
    padding-left: 5px;

  }

.textcontainer1{

  width: 50%;
  padding: 10px;
 

}
  
#textpage2{
  text-align: center;
  color: black;
  padding: 5%;
 
}
  
  
.container{
  background-color: #a6ce51;
  padding: 10px;
display: inline-block ;
text-align: center;

}


.highlight1{
  
  padding: 15px 20px;
  background-image: url(pics/bgstill3.png);
  background-size: cover; 
  background-position: 50%;
  text-decoration: none;
  margin-top: 20px;
 text-align: center;
 color: rgb(252, 212, 153);
display: inline-block;
border: 2px solid black;

}

.highlight1:hover{
  background-image: url(pics/bgif3.gif);
  transition-duration: 500ms;   
  transform: scale(1.5);    

}

.highlight2{
  
  padding: 15px 20px;
  background-image: url(pics/bgstill5.png);
  background-size: cover; 
  background-position: 50%;
  text-decoration: none;
  margin-top: 20px;
 text-align: center;
 color: rgb(252, 212, 153);
display: inline-block;
border: 2px solid black;

}

.highlight2:hover{
  background-image: url(pics/bgif5.gif);
  transition-duration: 500ms;   
  transform: scale(1.5);    

}

.highlight3{
  
  padding: 15px 20px;
  background-image: url(pics/bgstill7.png);
  background-size: cover; 
  background-position: 50%;
  text-decoration: none;
  margin-top: 20px;
 text-align: center;
 color: rgb(252, 212, 153);
display: inline-block;
 margin-right: 25px;
 border: 2px solid black;
}

.highlight3:hover{
  background-image: url(pics/bgif7.gif);
  transition-duration: 500ms;   
  transform: scale(1.5);    

}

.highlight4{
  
  padding: 15px 20px;
  background-image: url(pics/bgstill9.png);
  background-size: cover; 
  background-position: 50%;
  text-decoration: none;
  margin-top: 20px;
 text-align: center;
 color: rgb(252, 212, 153);
display: inline-block;
margin-left: 25px;
border: 2px solid black;
}

.highlight4:hover{
  background-image: url(pics/bgif9.gif);
  transition-duration: 500ms;   
  transform: scale(1.5);    

}

.picscontainerleft{
  float: left;
  padding: 5px;
  background-color: aqua;
 display: flex;
 
}




.context{
  padding-top: 10px;

  text-align: center;
 
  
}

.datatables{
 
  padding: 5px;
  background-color: #8eac4f;
 display: flex;
 
}
.contextright{
 
  
  text-align: center;
  padding-top: 10px;
}

.datacontainer{
  border: 5px;
}

.context1{
  text-align: center;
  display: inline-block;
}